.header {
    border-bottom: 1px solid #F0EEEF;
}

.content {
    padding-top: 60px;
}

/* Registration */

#step {
    color: #ccc;
}

#merchant-form {
    margin-bottom: 10px;
}

#registration-step-2,
#registration-step-3,
#loading-image,
#error-messages {
    display: none;
}

label[for="id_business_address1"],
label[for="id_delivery_address1"] {
    display: none;
}

label[for="id_trading_name"]:after,
label[for="id_county"]:after {
    color: #ccc;
    content: " (optional)";
}

#delivery-address-group {
    display: none;
}

#calculation {
    color: green;
    font-size: 1.2em;
    margin-bottom: 15px;
}

/* Order */

#order-details {
    margin-bottom: 20px;
    width: 100%;
}

#order-details td {
    padding: 4px 8px;
    vertical-align: top;
}

.od-label {
    font-weight: bold;
    text-align: right;
}

#payment-bitcoin {
    margin-bottom: 10px;
    text-align: center;
}

/* Other pages */

#device-form,
#profile-form,
.create-device-button {
    margin-bottom: 10px;
}
