@import url(//fonts.googleapis.com/css?family=Roboto:400,300,400italic);

a {
    cursor: pointer;
}

html, body {
    height: 100%;
}

#container {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding-top: 150px;
}

.xbt-btn-primary,
.xbt-btn-secondary {
    border: none;
    color: white;
    display: block;
    margin: 0;
    padding: 4px 8px;
    width: 100%;
}

.xbt-btn-primary {
    background-color: #5DB8FE;
}

.xbt-btn-secondary {
    background-color: #3D3D3D;
}

[data-toggle="buttons"] > .btn > input[type="radio"] {
    top: 0;
    right: 0;
    margin: 0;
    visibility: hidden;
}

/* HEADER */

.header {
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#cookie-notice {
    background-color: #5A5A5A;
    color: white;
    display: none;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 100%;
    z-index: 11;
}

#cookie-notice button {
    background-color: #282828;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
}

.header .navbar,
.header .navbar-default {
    background-color: transparent;
    border: none;
    margin: 0;
}

.header .navbar-header {
    text-align: center;
    width: 25%;
}

.header .navbar-brand {
    float: none;
    font-size: inherit;
    height: auto;
    line-height: 150px;
    padding: 0;
}

.header .navbar-nav {
    background-color: white;
    font-size: 1.5em;
    text-align: center;
    width: 50%;
}

.header .navbar-nav > li {
    display: inline-block;
    float: none;
}

.header .navbar-nav > li > a {
    display: block;
    color: #888888;
    line-height: 150px;
    padding: 0;
    width: 100px;
}

.header .navbar-nav > li > a:hover,
.header .navbar-nav > li > a.active {
    color: white;
    background-color: #62B9FF;
    text-decoration: none;
}

.user-block {
    background-color: #F0EEEF;
    float: left;
    font-size: 1.2em;
    height: 150px;
    margin-left: 15px;
    position: relative;
    text-align: center;
}

.user-block-bg {
    background-color: #F0EEEF;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}

.login-form-title {
    color: #888;
    margin: 7px 0;
    width: 200px;
}

.login-form {
    bottom: 0;
    position: absolute;
    width: 200px;
}

.login-form input {
    border: 1px solid #B5B3B4;
    margin-bottom: 5px;
    padding: 4px 8px;
    text-align: center;
    width: 100%;
}

.login {
    bottom: 0;
    display: none;
    position: absolute;
    width: 200px;
}

.register {
    position: absolute;
    top: 100%;
    text-decoration: none;
    width: 200px;
    z-index: 5;
}

.logout {
    bottom: 0;
    position: absolute;
    width: 200px;
}

#merchant-info {
    color: #888;
    line-height: 34px;
    text-align: left;
    white-space: nowrap;
    width: 200px;
}

/* STICKY HEADER */

.header-fixed {
    border-bottom: 1px solid #F0EEEF;
    position: fixed;
}

.header-fixed .user-block {
    height: 75px;
}

.header-fixed .navbar-brand,
.header-fixed .navbar-nav > li > a {
    line-height: 75px;
}

.header-fixed .login-form-title {
    margin: 10px 0;
}

.header-fixed .login-form {
    display: none;
}

.header-fixed .login {
    display: block;
}

.header-fixed #merchant-info-devices,
.header-fixed #merchant-info-tx {
    display: none;
}

/* CONTENT */

.content {
    height: auto;
    min-height: 100%;
    margin-bottom: -170px;
    padding-bottom: 170px;
}

.content h2 {
    color: #818181;
    font-size: 5em;
    font-weight: 300;
    margin-top: 60px;
}

.content h3 {
    color: #818181;
    font-size: 2.4em;
    font-weight: 300;
    margin-top: 40px;
}

.content p {
    color: #818181;
    font-size: 1.4em;
    font-weight: 300;
    margin-top: 40px;
}

/* FOOTER */

.footer-1 {
    background-color: #818181;
    padding-top: 10px;
    text-align: center;
}

.footer-menu {
    font-size: 1.5em;
    line-height: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu a {
    color: white;
    display: block;
    padding: 0 10px;
    width: auto;
}

.footer-menu a:hover {
    color: white;
}

.copyright {
    color: white;
    font-size: 1.2em;
    line-height: 80px;
}

.footer-2 {
    background-color: #666;
    text-align: center;
}

.footer-logo {
    line-height: 150px;
}

.footer-logo img {
    max-width: 100%;
}

/* MOBILE VIEW */

@media (max-width: 991px) {
    #container {
        padding-top: 75px;
    }

    .header {
        position: fixed;
    }
    .header .navbar-brand {
        line-height: 75px;
    }
    .header .navbar-nav {
        width: auto;
    }
    .header .navbar-nav > li > a {
        line-height: 75px;
    }

    .header .user-block,
    .header-fixed .user-block {
        background-color: white;
        font-size: 1.5em;
        height: 75px;
        margin: 0;
    }
    .user-block-bg {
        display: none;
    }
    .login-form-title,
    .login-form,
    .register,
    #merchant-info {
        display: none;
    }
    .login,
    .logout {
        display: block;
        line-height: 75px;
        margin: 0 auto;
        padding: 0;
        position: static;
        width: 100px;
    }
}

@media (max-width: 767px) {

    .header .navbar-header {
        text-align: left;
        width: auto;
    }

    .header .navbar-nav > li {
        display: block;
    }
    .header .navbar-nav > li > a,
    .login,
    .logout {
        line-height: 30px;
        width: 100%;
    }

    .header .user-block {
        float: none;
        height: 30px;
        margin: 0 -15px 10px;
    }

    .content h2 {
        font-size: 4.5em;
    }
}
