/* Common */

.text-section {
    text-align: center;
    padding: 40px 0;
}

.image-section {
    background-color: black;
    background-repeat: repeat;
    overflow: hidden;
    text-align: center;
}

.section-image-wrapper {
    float: right;
    position: relative;
    right: 50%;
}

.section-image-wrapper img {
    position: relative;
    right: -50%;
}

/* About */

#about-section {
    background-image: url(../img/l_about_bg.jpg);
    height: 666px;
}

#about-image,
#about-text {
    position: relative;
}

#about-image .section-image-wrapper {
    margin-top: 74px;
    margin-right: -25px;
    z-index: 3;
}

#about-text span {
    background-color: #5DB8FE;
    color: white;
    display: block;
    font-style: italic;
    margin-left: -200px;
    padding-left: 200px;
    position: absolute;
    text-align: left;
    width: 640px;
}

#about-line1 {
    font-size: 3.8em;
    line-height: 50px;
    padding-top: 30px;
    top: 250px;
}

#about-line2 {
    font-size: 2.4em;
    padding-bottom: 30px;
    padding-top: 5px;
    top: 330px;
    width: 640px;
}

@media (max-width: 991px) {
    #about-image .section-image-wrapper {
        margin-right: 0;
    }
    #about-text {
        display: none;
    }
}

@media (max-width: 360px) {
    #about-section {
        height: 500px;
    }
    #about-image .section-image-wrapper {
        margin-top: 75px;
    }
    #about-image img {
        width: 300px;
    }
}

/* Mobile */

#mobile-section {
    background-image: url(../img/l_mobile_bg.jpg);
    height: 665px;
}

#mobile-image {
    position: relative;
}

#mobile-image .section-image-wrapper {
    margin-top: 81px;
}

#mobile-downloads {
    margin-top: 40px;
}

#mobile-app-store {
    text-align: right;
}

#mobile-google-play {
    text-align: left;
}

@media (max-width: 991px) {
    #mobile-app-store,
    #mobile-google-play {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 360px) {
    #mobile-section {
        height: 450px;
    }
    #mobile-image .section-image-wrapper {
        margin-top: 80px;
    }
    #mobile-image img {
        width: 300px;
    }
}

/* Footer */

#social {
    background-color: #EBEBEB;
    line-height: 200px;
    text-align: center;
}
