@font-face {
    font-family: 'TitilliumWeb SemiBold';
    src: url('fonts/TitilliumWeb-SemiBold.eot');
    src: local('?'), url('fonts/TitilliumWeb-SemiBold.woff') format('woff'), url('fonts/TitilliumWeb-SemiBold.ttf') format('truetype'), url('fonts/TitilliumWeb-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumWeb Regular';
    src: url('fonts/TitilliumWeb-Regular.eot');
    src: local('?'), url('fonts/TitilliumWeb-Regular.woff') format('woff'), url('fonts/TitilliumWeb-Regular.ttf') format('truetype'), url('fonts/TitilliumWeb-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumWeb Bold';
    src: url('fonts/TitilliumWeb-Bold.eot');
    src: local('?'), url('fonts/TitilliumWeb-Bold.woff') format('woff'), url('fonts/TitilliumWeb-Bold.ttf') format('truetype'), url('fonts/TitilliumWeb-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web Thin';
    src: url('fonts/TitilliumWeb-Thin.eot');
    src: local('?'), url('fonts/TitilliumWeb-Thin.woff') format('woff'), url('fonts/TitilliumWeb-Thin.ttf') format('truetype'), url('fonts/TitilliumWeb-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web Light';
    src: url('fonts/TitilliumWeb-Light.eot');
    src: local('?'), url('fonts/TitilliumWeb-Light.woff') format('woff'), url('fonts/TitilliumWeb-Light.ttf') format('truetype'), url('fonts/TitilliumWeb-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.header-line {
    border-top: 4px solid #428bca;
    width: 100%;
    padding-bottom: 0px;
}

html,
body {
  height: 100%;
 min-width: 360px;
}
h1, h2, h3 {
  font-family: 'Titillium Web Thin';
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.nowrap {
  white-space: nowrap;
}
.gap {
  margin-bottom: 50px;
}
#loading-img {
  display: none;
}

.nav-devices {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  font-weight: bold;
}
.nav-devices li {
  display: inline-block;
  padding: 0 5px;
  white-space: nowrap;
}
.nav-devices li a {
  color: black;
  text-decoration: none;
}
.nav-devices li a:hover, .nav-devices li.active a {
  color: #428bca;
}
.center {
  text-align: center;
}
.faq p, .faq ul, .faq ol {
  color: #666666;
}
.faq h1 {
  text-align: center;
}

.header {
  background-color: #f3f3f3;
}
.xbt-logo {
  padding-top: 19px;
  padding-bottom: 20px;
}
.header-menu {
  text-align: right;
}
.header-menu li {
  display: inline-block;
}
.header-menu .header-icon {
  padding: 19px 7px 20px;
}
.header-menu .header-icon:hover,
.header-menu .header-icon:focus {
  background-color: transparent;
}
@media (max-width: 767px) {
  .xbt-logo {
    text-align: center;
  }
  .header-menu {
    text-align: center;
  }
}

/* Teaser
--------------------------------- */
.terminal {
  font-family: 'Titillium Web Thin';
  padding-top: 40px;
  height: 350px;
  overflow: hidden;
  background: black url("../img/term-bg.png") no-repeat center;
  position: relative;
  z-index: 2;
}
.justify-one-line {
  text-align: justify;
}
.justify-one-line:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.terminal h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.terminal .descr-line-1 {
  display: block;
  font-size: 46px;
  height: 1.1em;
}
.terminal .descr-line-2 {
  display: block;
  font-size: 28px;
  height: 1.1em;
}
.terminal .demo-video {
  color: white;
  display: block;
  font-size: 17px;
  font-weight: bold;
  height: 1.5em;
  margin-top: 35px;
  margin-bottom: 35px;
  text-decoration: underline;
  text-transform: uppercase;
}
.terminal .demo-video:hover {
  cursor: pointer;
}
.terminal button {
  margin-bottom: 10px;
  padding-top: 14px;
  text-transform: uppercase;
  width: 170px;
}
.terminal .btn-preorder {
  text-align: left;
}
.terminal .btn-invest {
  text-align: right;
}
.front-terminal-image img {
  z-index: 10;
  position: relative;
  top: -20px;
  left: 80px;
}
@media (max-width: 991px) {
  .terminal {
    padding-top: 20px;
    text-align: center;
  }
  .terminal .descr-line-1,
  .terminal .descr-line-2,
  .terminal .demo-video {
    height: auto;
  }
  .justify-one-line {
    text-align: center;
  }
  .justify-one-line:after {
    display: none;
  }
  .terminal .btn-preorder,
  .terminal .btn-invest {
    text-align: center;
  }
  .front-terminal-image img {
    width: 150px;
    top: 20px;
    left: 150px;
  }
}
@media (max-width: 767px) {
  .terminal {
    height: auto;
    background: #8db1cf;
  }
}

.header {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e4e4e4;
}

/* Advantages */

.advantages {
  margin-bottom: 20px;
}

.advantage-img {
  height: 100px;
  margin-top: 15px;
  text-align: center;
}

.advantage-img img {
  max-height: 100px;
}

/* Facilities
--------------------------------------------- */
.content {
  background: url("../img/content-bg.png");
}
.facilities {
  overflow: hidden;
  padding-top: 20px;
}
.facilities .b-facility {
  height: auto;
}
.facilities .b-facility a {
  color: #428bca;
  text-decoration: underline;
}
.facilities .b-facility a:hover {
  text-decoration: none;
}
.facilities .b-facility:nth-child(3n+3) {
    margin-right: 0;
}
.b-facility h2,
.b-facility h3 {
  color: white;
}
.b-facility p {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color: #aaa;
}
@media (max-width: 767px) {
  .facilities .b-facility {
    height: auto;
    margin-bottom: 30px;
  }
}
/* ##### End facilities #####*/

.information .glyphicon {
  display: inline-block;
  margin-right: 5px;
}

.device-create-button {
  margin-bottom: 20px;
}
.form-title {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
}

#footer {
  background-color: #f3f3f3;
}
#footer p {
  line-height: 36px;
  padding: 19px 0 20px;
}

/* Fancybox + Bootstrap fix */
#fancybox-wrap, #fancybox-wrap * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

.fancy-alert {
  font-size: 1.2em;
  text-align: center;
}

/* Login page
----------------------------------- */
.terminal-image {
  text-align: center;
}

.login-form {
  color: white;
}
