[Unit]
Description=Sentry web server
After=postgresql.service redis.service

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory=/var/lib/sentry
Environment=SENTRY_CONF=/etc/sentry
ExecStart=/var/lib/sentry/venv/bin/sentry run web

[Install]
WantedBy=multi-user.target
