*.pyc
local_settings.py
venv
.vagrant
vagrant/settings.yml
vagrant/backups
.coverage
/static
/media
fabfile/deploy.py
/certs
.idea/*
config/xbterminal.ini
config/xbterminal.conf
config/supervisor.ini
/logs
/reports
*.mo
