boto==2.40.0
cryptography==1.7.2
Django==1.9.13
django-bootstrap3==8.1.0
django-constance==1.3.4
django-countries==4.0
django-formtools==1.0
django-fsm==2.3.0
django-fsm-admin==1.2.4
django-extended-choices==1.1.1
django-ipware==1.1.3
django-localflavor==1.3
django-oauth-toolkit==0.10.0
django-picklefield==0.3.2
django-recaptcha==1.0.5
django-redis==4.3.0
django-rq==0.9.5
django-storages==1.4.1
djangorestframework==3.6.3
enum34==1.1.6
html5lib==1.0b10
ndg-httpsclient==0.4.0  # requests[security]
oauthlib==1.0.3
Pillow==4.0.0
protobuf==2.5.0
psycopg2==2.7.3.1
pycoin==0.77
pyOpenSSL==0.15.1  # requests[security]
PyPDF2==1.26.0
python-bitcoinlib==0.7.0
python-slugify==1.2.1
pytz>=2016.4
qrcode==5.1
raven==5.32.0
redis==2.10.5
reportlab==3.3.0
requests==2.9.1
rq==0.7.1
rq-scheduler==0.7.0
unicodecsv==0.9.4
xhtml2pdf==0.2b1
