Django==1.6
Fabric==1.8.0
South==0.8.4
argparse==1.2.1
-e git+https://github.com/tzangms/django-bootstrap-form.git@305f142c87953aebeb2385ed2a9aa9437a6c8522#egg=django_bootstrap_form-dev
ecdsa==0.10
paramiko==1.12.0
psycopg2==2.5.1
pycrypto==2.6.1
wsgiref==0.1.2
django-countries==2.0b3
django-bootstrap3==2.5.2
