django==1.6.4
south==0.8.4
argparse==1.2.1
-e git+https://github.com/tzangms/django-bootstrap-form.git@305f142c87953aebeb2385ed2a9aa9437a6c8522#egg=django_bootstrap_form-dev
psycopg2==2.5.1
pycrypto==2.6.1
wsgiref==0.1.2
django-countries==2.0b3
django-bootstrap3==2.5.2
djangorestframework==2.3.10
django-smtp-ssl==1.0
xhtml2pdf==0.0.5
reportlab==2.7
django-qrcode==0.3
unicodecsv==0.9.4
-e git+https://github.com/comoga/django-constance.git@987e13f1ae24b419574d09d88097f41b7bd6ffc1#egg=django-constance-dev
django-picklefield==0.3.1
pytz>=2014.3
requests==2.3.0
python-bitcoinlib==0.1.1
