{% extends 'cabinet/base.html' %}
{% load bootstrap3 i18n staticfiles %}

{% block js %}
{% if device %}
<script src="{% static 'js/activation.js' %}"></script>
<script>
    var checkUrl = '{% url 'api:v2:device-detail' device.key %}';
</script>
{% endif %}
{% endblock %}

{% block cabinet_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>{% trans 'Module activation' %}</h3>
        {% if form %}
        {{ activation_url }}
        <form id="activation-form" action="" method="post" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-default">
                {% trans 'Activate' %}
            </button>
            {% if user.is_authenticated %}
            <a href="{% url 'website:devices' %}" class="btn btn-default">
                {% trans 'Cancel' %}
            </a>
            {% endif %}
        </form>
        {% else %}
            <p class="large activation-in-progress">
                {% trans 'Activation in progress. Do not turn off the module.' %}<br>
                <img src="{% static 'img/loading.gif' %}">
            </p>
            <p class="large activation-error">
                {% trans 'Activation failed. Please contact support.' %}
            </p>
            <p class="large activation-success">
                {% trans 'Activation successful.' %}
                {% if user.is_authenticated %}
                <a href="{% url 'website:device' device.key %}">
                    {% trans 'Show device settings.' %}
                </a>
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
