{% load staticfiles %}

<div id="footer">
  <div class="container footer-container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="pull-left">
          <p class="text-muted">XBT Services Ltd</p>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="pull-right">
          <a href="{% url 'website:contact' %}">
            <p class="text-muted">Contact Us</p>
          </a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
