{% load staticfiles %}

<div class="footer-1 row">
    <div class="container">
        <div class="menu-block"><ul>
            <li><a href="{% url 'website:landing' %}#about-section">about</a></li>
            <li><a href="{% url 'website:landing' %}#terminal-section">terminal</a></li>
            <li><a href="{% url 'website:landing' %}#mobile-section">mobile</a></li>
            <li><a href="{% url 'website:landing' %}#web-section">web</a></li>
            <li><a>faq's</a></li>
            <li><a>privacy policy</a></li>
            <li><a>contact us</a></li>
        </ul></div>
        <div class="copyright">Copyright XLB 2014</div>
    </div>
</div>
<div class="footer-2 row">
    <div class="container">
        <div class="logo">
            <a href="{% url 'website:landing' %}">
                <img src="{% static 'img/xlb-logo-dark.png' %}" alt="XLB">
            </a>
        </div>
    </div>
</div>
