{% load staticfiles %}
<div class="header-line"></div>

<div class="header">
  <div class="row" style="background-color: #f3f3f3">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1 xbt-logo">
          <a href="/"><img src="{% static 'img/logo.png' %}" alt=""/></a>
        </div>
        <div class="col-sm-6">
            <ul class="nav header-menu">
                <li><a class="header-icon" href="#" title="Share"><img src="{% static 'img/header-icon-share.png' %}" alt="Share"></a></li>
                <li><a class="header-icon" href="#" title="Like"><img src="{% static 'img/header-icon-like.png' %}" alt="Like"></a></li>
                <li><a class="header-icon" href="#" title="Twitter"><img src="{% static 'img/header-icon-twitter.png' %}" alt="Twitter"></a></li>
                <li><a class="header-icon" href="#" title="Mail"><img src="{% static 'img/header-icon-mail.png' %}" alt="Mail"></a></li>
                <li><a class="header-icon" href="#" title="Phone"><img src="{% static 'img/header-icon-phone.png' %}" alt="Phone"></a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
