{% load staticfiles %}
<div class="header-line"></div>

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-10 col-xs-offset-2 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6 xbt-logo">
            <a href="/"><img src="{% static 'img/logo.png' %}" alt="XBTerminal"/></a>
          </div>
          <div class="col-sm-6">
            <ul class="nav header-menu">
              <li><a class="header-icon" href="#" title="Phone"><img src="{% static 'img/header-icon-phone.png' %}" alt="Phone"></a></li>
              <li><a class="header-icon" href="mailto:info@xbterminal.com" title="Mail"><img src="{% static 'img/header-icon-mail.png' %}" alt="Mail"></a></li>
              <li><a class="header-icon" href="https://twitter.com/xbterminal" title="Twitter"><img src="{% static 'img/header-icon-twitter.png' %}" alt="Twitter"></a></li>
              <li><a class="header-icon" href="#" title="Like"><img src="{% static 'img/header-icon-like.png' %}" alt="Like"></a></li>
              <li><a class="header-icon st_sharethis_custom" href="#" title="Share"><img src="{% static 'img/header-icon-share.png' %}" alt="Share"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
