{% extends "website/base.html" %}
{% load bootstrap3 staticfiles i18n %}

{% block website_content %}
<div class="row">
    <div class="col-md-6">
        {% if form %}
        <h3>{% trans 'By email' %}</h3>
        <form id="contact-form" role="form" action="{% url 'website:contact' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-default">{% trans 'Send' %}</button>
            <img id="loading-image" src="{% static 'img/loading.gif' %}">
        </form>
        {% else %}
        {% blocktrans %}<h3>Thanks!</h3><p class="lead">We will contact you as soon as possible</p>{% endblocktrans %}
        {% endif %}
    </div>
    {% if form %}
    <div class="col-md-6" id="contact-info">
        <h3>{% trans 'By phone' %}</h3>
        <p class="large">
            +44 (0) 20 8123 8185 <br>
            <small>{% trans 'during business hours London time' %}</small>
         </p>
        <h3>{% trans 'By post' %}</h3>
        <p class="large">
            {% trans 'Our registered address is'%}:<br>
            XBTerminal Ltd<br>
            71-75 Shelton Street<br>
            Covent Garden, London<br>
            WC2H 9JQ
        </p>
        <h3>{% trans 'By foot' %}</h3>
        <p class="large">
            {% trans "We're often can be found at" %}:<br>
            XBTerminal Ltd<br>
            Level39, One Canada Square<br>
            Canary Wharf, London<br>
            E1 5AB
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}
