{% extends "cabinet/base.html" %}
{% load bootstrap3 staticfiles i18n %}

{% block cabinet_content %}
<div class="row">
    <div class="col-md-6">
        {% if form %}
        <h3>By email</h3>
        <form id="contact-form" role="form" action="{% url 'website:contact' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-default">Send</button>
            <img id="loading-image" src="{% static 'img/loading.gif' %}">
        </form>
        {% else %}
        <h3>Thanks!</h3><p class="lead">We will contact you as soon as possible</p>
        {% endif %}
    </div>
    {% if form %}
    <div class="col-md-6" id="contact-info">
        <h3>By phone</h3>
        <p>
            +44 (0) 20 8123 8185 <br>
            <small>during business hours London time</small>
         </p>
        <h3>In person</h3>
        <p>
            77-79 Great Eastern Street <br>
            London <br>
            EC2A 3HU
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}
