{% extends "website/base.html" %}
{% load bootstrap3 staticfiles i18n %}

{% block website_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% if form %}
        <h3>{% trans 'Feedback' %}</h3>
        <form id="feedback-form" role="form" action="{% url 'website:feedback' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="row">
                <div class="col-md-6"><button type="submit" class="btn btn-default pull-right">{% trans 'Send' %}</button></div>
            </div>
        </form>
        {% else %}
        {% blocktrans %}<h3>Thanks!</h3><p class="lead">We will contact you as soon as possible</p>{% endblocktrans %}
        {% endif %}
    </div>
</div>
{% endblock %}
