{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'fancybox/jquery.fancybox-1.3.4.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'slider/fractionslider.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'fancybox/jquery.fancybox-1.3.4.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/landing.js' %}"></script>
<script type="text/javascript" src="{% static 'slider/jquery.fractionslider.min.js' %}"></script>
{% endblock %}

{% block before_content %}
<section class="terminal">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-10 col-xs-offset-2 col-sm-offset-1">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
                        <h1>
                            <span class="descr-line-1 justify-one-line">Bitcoin NFC based</span>
                            <span class="descr-line-2 justify-one-line">merchant point-of-sale system</span>
                        </h1>
                        <a class="demo-video" data-href="https://www.youtube.com/watch?v=9aO0BO6YHrU?autoplay=1">
                            <div class="justify-one-line">Watch the prototype video to find out more</div>
                        </a>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 btn-preorder"><button class="btn btn-primary btn-lg"><b>Preorder</b></button></div>
                            <div class="col-md-6 col-sm-6 btn-invest"><button class="btn btn-primary btn-lg"><b>Invest</b></button></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 hidden-sm hidden-xs front-terminal-image">
                        <div class="slide">
                            <img src="{% static 'img/terminal_1.png' %}" alt="" data-position="0,80">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/terminal_2.png' %}" alt="" data-position="15,80">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/terminal_3.png' %}" alt="" data-position="20,80">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/terminal_4.png' %}" alt="" data-position="45,60">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="advantages">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-10 col-xs-offset-2 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="advantage-img"><img src="{% static 'img/mid-nfc.png' %}"></div>
                        <h2>NFC</h2>
                        <p>Inbuilt NFC technology enables seamless integration with mobile wallets on
                            <a href="http://en.wikipedia.org/wiki/List_of_NFC-enabled_mobile_devices">compatible android devices</a>.
                            QR codes may also be used on mobile devices without NFC enabling any phone with a camera.</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="advantage-img"><img src="{% static 'img/mid-bitcoin.png' %}"></div>
                        <h2>Bitcoin Aware</h2>
                        <p>Your XBTerminal contains a bitcoin node and does all required payment verifications right inside itself.
                            Also this means that core Bitcoin advancements like the
                            <a href="https://bitcointalk.org/index.php?topic=300809.0">Bitcoin Payment Protocol</a>  are
                            to be supported.</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="advantage-img"><img src="{% static 'img/mid-universe.png' %}"></div>
                        <h2>Universal</h2>
                        <p>Your XBTerminal will work anywhere in the world that there is an internet connection and
                            it provides integratings with all main payment processors to enable immediate cashouts
                            in your local currency.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="content landing">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <section class="facilities">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 b-facility">
                            <h2><b>Merchants</b> FAQ</h2>
                            <div>
                                <h3>Why would I want to accept Bitcoin payments?</h3>
                                <p>There are several advantages to using bitcoin over regular credit or debit cards.
                                    The first is that fees are substantially lower than any existing card system.
                                    The second main advantage is that there is no chargeback mechanism so once you have
                                    received customer’s coins they can’t be taken from you via chargeback.</p>
                            </div>
                            <div>
                                <h3>How secure is this payment system?</h3>
                                <p>
                                    Chargebacks and payment card frauds are not applicable to Bitcoin, so this system is
                                    much more secure and existing fraud percent is virtually none. <br>
                                    It works like digital cash - once you have received payment it's not possible to fraudulently
                                    part you with your money.
                                </p>
                            </div>
                            <div>
                                <h3>What does "NFC enabled" mean?</h3>
                                <p>This means that it works similar to contactless payment cards (but is not compatible with it).
                                    NFC stands for Near Field Communication, and it's a way for devices to communicate on-touch.<br>
                                    Currently
                                    <a href="http://en.wikipedia.org/wiki/List_of_NFC-enabled_mobile_devices">most of modern android phones</a>
                                        are equipped with NFC.</p>
                            </div>
                            <div>
                                <h3>Will you protect me from unpredictable bitcoin exchange rate?</h3>
                                <p>
                                    Yes. Our terminal is integrated with Bitcoin payment processors, which will instantly
                                    convert bitcoins paid to you into your local currency and send it to your bank account
                                    at the end of the day.<br>
                                    Available payment processors are BitPay, Cryptopay. If you have any other in mind -
                                    let us know and we will add it to the mix. <br>
                                    We will help you to choose and sign up with the most suitable
                                    payment processor considering your geographical location.
                                </p>
                            </div>
                            <div>
                                <h3>Price and delivery time?</h3>
                                <p>Pre­order units cost £200 GBP each. Deliveries will start in July 2014,
                                    on the first order first shipped basis.</p>
                            </div>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 b-facility">
                            <h2><b>Investor</b> FAQ</h2>
                            <div>
                                <h3>So what do you offer in return for my investment?</h3>
                                <p>We offer shares in our company. This is NOT "virtual shares", but legally recognized
                                    equity ownership in our UK registered limited company.</p>
                            </div>
                            <div>
                                <h3>How much equity you offer and at what price?</h3>
                                <p>Before we will be able to tell this to you - please visit our
                                    <a href="https://banktothefuture.com">investment pitch</a> page and agree to crowdinvestment terms and conditions. <br>
                                    Sorry about this inconvenience, unfortunately we are legally required to demand this before pitching to you.</p>
                            </div>
                            <div>
                                <h3>Who is on the team?</h3>
                                <p>We are a team of two cofounders, with one non-executive business advisor onboard. <br>
                                    <a href="{% url 'website:profiles' %}">View team profiles here</a>.</p>
                            </div>
                            <div>
                                <h3>Did you have any investment prior to this campaign?</h3>
                                <p>Yes, we've raised £10000 of seed funding from private investors.</p>
                            </div>
                            <div>
                                <h3>Can I claim any tax relief on my investment?</h3>
                                <p>Yes, we are registered for SEIS tax relief, meaning that if you pay UK income tax you
                                    are entitled to substantial tax breaks. <br>
                                    See <a href="http://www.hmrc.gov.uk/seedeis/">HMRC SEIS information page</a> for
                                    details.</p>
                            </div>
                            <div>
                                <h3>Can I invest in XBTerminal with bitcoins?</h3>
                                <p>Of course! We welcome bitcoin investments as well as usual currencies.</p>
                            </div>
                            <div>
                                <h3>So can I invest right now?</h3>
                                <p>
                                    Not yet. We plan to launch the investment campaign at the end of May 2014. <br>
                                    <a href="javascript:$('form.subscribe-form button[type=submit]').click();">
                                        Subscribe to our newsletter</a>
                                    and we will let you know when the time will come. <br> We won't send you any rubbish spam, we promise.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block after_content %}
<section class="information">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-10 col-xs-offset-2 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Newsletters</h2>
                        <p>Get updated once our investment opportunity opens.</p>
                        <form class="subscribe-form" action="{% url 'website:subscribe' %}" role="form" method="post">
                            {% csrf_token %}
                            <div class="form-group input-group">
                                <input type="email" class="form-control" name="email" placeholder="Enter your email address" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4 contacts">
                        <h2>Contact Us</h2>
                        <p><span class="glyphicon glyphicon-map-marker"></span>Address:</p>
                        <p class="address">145-157 St. John Street<br>London<br>EC1V 4PW</p>
                        <p><span class="glyphicon glyphicon-earphone"></span>Phone: +44 (0) 20 8123 8185</p>
                        <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:info@xbterminal.com">info@xbterminal.com</a></p>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'login' %}" title="Merchant Login"><h2>Merchant Login</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
