{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'lib/scrollspy.js' %}"></script>
<script src="{% static 'lib/skrollr.min.js' %}"></script>
<script src="{% static 'js/landing.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content row">
    <div
        class="image-section"
        id="about-section"
        data-0-start="background-position: center -400px;"
        data-0-top-bottom="background-position: center 200px;"
    >
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="about-image">
                    <div class="section-image-wrapper">
                        <img src="{% static 'img/l_about.png' %}" alt="image">
                    </div>
                </div>
                <div class="col-md-6" id="about-text">
                    <span id="about-line1">{% trans 'meet the future' %}</span>
                    <span id="about-line2">{% trans 'of bitcoin point of sale' %}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-section">
        <div class="container">
            <h2>{% trans 'Bitcoin payments made easy.' %}</h2>
            <h3>{% trans 'XBTerminal is the fast, simple and cost effective way for your business to start accepting bitcoin today.' %}</h3>
            <p class="large">
                {% blocktrans %}
                Our unique and innovative solutions allow you accept Bitcoin in a safe and risk free way. You are in control
                of the payment process whether you want to keep the Bitcoins or receive local currency. Through our seamless
                payment gateway integration we can <b>guarantee</b> a local currency return back to your business bank account.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div
        class="image-section"
        id="mobile-section"
        data-0-bottom-top="background-position: center -800px;"
        data-0-top-bottom="background-position: center 200px;"
    >
        <div class="container">
            <div id="mobile-image">
                <div class="section-image-wrapper">
                    <img src="{% static 'img/l_mobile.png' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="text-section">
        <div class="container">
            <h2>{% trans 'XBT Mobile' %}</h2>
            <h3>{% trans 'XBT Mobile allows you to Start Accepting Bitcoin now with no upfront costs and the same great features as our dedicated hardware.' %}</h3>
            <p class="large">
                {% blocktrans %}
                Our mobile app is just as easy to operate as our hardware product. Customers may pay from any mobile
                Bitcoin wallet by NFC (Android only) or QR code, payment from offline mobile devices is supported by
                Bluetooth (Android only). The payment process is fast and secure, replicating the features of our
                dedicated hardware allowing you to dip your toe into the Bitcoin world without any upfront costs.
                This solution best suits merchants without a fixed point of sale like pop-up or street traders, it’s
                also a great starting point before deciding if you want a dedicated device for your business.
                {% endblocktrans %}
            </p>
            <div class="row" id="mobile-downloads">
                <div class="col-md-6" id="mobile-app-store">
                    <a href="{% url 'website:ios_app' %}" target="_blank"><img src="{% static 'img/app_store.png' %}"></a>
                </div>
                <div class="col-md-6" id="mobile-google-play">
                    <a href="{% url 'website:android_app' %}" target="_blank"><img src="{% static 'img/google_play.png' %}"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="social">
        <a href="https://twitter.com/xbterminal" target="_blank"><img src="{% static 'img/soc_twitter.png' %}" alt="twitter"></a>
        <a href="https://www.facebook.com/xbterminal.io" target="_blank"><img src="{% static 'img/soc_facebook.png' %}" alt="facebook"></a>
        <a href="https://plus.google.com/100832480161765194207/about" target="_blank"><img src="{% static 'img/soc_google.png' %}" alt="google"></a>
    </div>
</div>
{% endblock %}
