{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block before_content %}
<section class="terminal">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-10 col-xs-offset-2 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6 hidden-xs terminal-image">
            <img src="{% static 'img/device.png' %}" alt="XBTerminal">
          </div>
          <div class="col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0">
            <form class="login-form" role="form" action="{% url 'login' %}" method="post">
              {% csrf_token %}
              {{ form|bootstrap }}
              <button type="submit" class="btn btn-default pull-right">Login</button>
              <input type="hidden" name="next" value="{{ next }}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
