{% extends "website/base.html" %}
{% load bootstrap3 i18n %}

{% block website_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% if form %}
        <h3>{% trans 'Reset password' %}</h3>
        <form id="reset-password-form" role="form" action="{% url 'website:reset_password' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="row">
                <div class="col-md-6"><button type="submit" class="btn btn-default pull-right">{% trans 'Submit' %}</button></div>
                <div class="col-md-6"><a href="{% url 'website:landing' %}" class="btn pull-left">{% trans 'Cancel' %}</a></div>
            </div>
        </form>
        {% else %}
        {% blocktrans %}<p>New password has been sent to your email</p>{% endblocktrans %}
        {% endif %}
    </div>
</div>
{% endblock %}
