{% extends "cabinet/base.html" %}
{% load staticfiles i18n %}

{% block title %}Team | {% endblock %}

{% block cabinet_content %}
<h3>The Team</h3>
<div class="row">
    <div class="col-md-3 text-center"><img class="team-photo" src="{% static 'img/team_aleks_nowak.png' %}"></div>
    <div class="col-md-3">
        <p>
        {% blocktrans %}
        <strong>Aleksander Nowak</strong><br>
        <strong>Chief Operations Officer</strong><br>
        Aleks Nowak is a former army officer who has spent the last four years running SMEs. He is a huge technology enthusiast and heads up our business development.
        {% endblocktrans %}
        </p>
    </div>
    <div class="col-md-3 text-center"><img class="team-photo" src="{% static 'img/team_alex_kotenko.png' %}"></div>
    <div class="col-md-3">
        <p>
        {% blocktrans %}
        <strong>Alex Kotenko</strong><br>
        <strong>Chief Technology Officer</strong><br>
        Alex Kotenko has ten years of hands on IT experience. With a  successful record in team management, he is the company director and leads our technical development.
        {% endblocktrans %}
        </p>
    </div>
    <div class="col-md-3 text-center"><img class="team-photo" src="{% static 'img/team_eric_benz.png' %}"></div>
    <div class="col-md-3">
        <p>
        {% blocktrans %}
        <strong>Eric Benz</strong><br>
        <strong>Chief Strategy Officer</strong><br>
        Eric Benz has been involved in the payments technology sector for the best part of a decade and has delivered retail payment solutions for the world’s largest merchant brands.
        {% endblocktrans %}
        </p>
    </div>
    <div class="col-md-3 text-center"><img class="team-photo" src="{% static 'img/team_nadav_rosenberg.png' %}"></div>
    <div class="col-md-3">
        <p>
        {% blocktrans %}
        <strong>Nadav Rosenberg</strong><br>
        <strong>Board Member</strong><br>
        Nadav Rosenberg currently heads up Taboola’s operations in Europe and Australia and is a major Bitcoin proponent.
        {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}
