{% extends "cabinet/base.html" %}
{% load i18n website_tags %}

{% block cabinet_content %}
<table id="accounts" class="table table-striped table-bordered table-responsive">
    <tr>
        <th>{% trans 'Currency' %}</th>
        <th>{% trans 'Balance' %}</th>
        <th>{% trans 'Balance min.' %}</th>
        <th>{% trans 'Balance max.' %}</th>
        <th>{% trans 'Actions' %}</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td><a href="{% url 'website:account' pk=account.pk %}">{{ account.currency.name }}</a></td>
        <td {% if account.balance < account.balance_min %}class="balance-too-low"{% endif %}>
            {{ account.balance|amount:account.currency.name }}
        </td>
        <td>{{ account.balance_min|amount:account.currency.name }}</td>
        <td>{{ account.balance_max|amount:account.currency.name }}</td>
        <td><a href="{% url 'website:add_funds' pk=account.pk %}" target="_blank">Add funds</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
