{% extends "cabinet/base.html" %}
{% load bootstrap3 i18n %}

{% block cabinet_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>
            {% blocktrans with currency_name=account.currency.name %}
            Edit {{ currency_name }} account settings
            {% endblocktrans %}
        </h3>
        <form id="account-form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-default pull-right">
                        {% trans 'Update' %}
                    </button>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'website:accounts' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
