{% extends "cabinet/base.html" %}
{% load i18n %}

{% block cabinet_content %}
<div>
    {% if can_add_account %}
    <a class="btn btn-default" href="{% url 'website:create_account' %}">{% trans 'Add CryptoPay account' %}</a>
    {% endif %}
    {% if can_edit_ift_settings %}
    <a class="btn btn-default" href="{% url 'website:instantfiat' %}">{% trans 'Edit CryptoPay settings' %}</a>
    {% endif %}
</div>
<table id="accounts" class="table table-striped table-bordered table-responsive">
    <tr>
        <th>{% trans 'Currency' %}</th>
        <th>{% trans 'Balance' %}</th>
        <th>{% trans 'Payment processor' %}</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td><a href="{% url 'website:account' pk=account.pk %}">{{ account.currency.name }}</a></td>
        <td>
            {% if account.currency.name == 'BTC' or account.currency.name == 'TBTC' %}
            {{ account.balance|floatformat:8 }}
            {% else %}
            {{ account.balance|floatformat:2 }}
            {% endif %}
        </td>
        <td>{{ account.get_instantfiat_provider_display|default:'-' }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
