{% extends "cabinet/base.html" %}
{% load i18n website_tags %}

{% block cabinet_content %}
<div>
    {% if can_edit_ift_settings %}
    <a class="btn btn-default" href="{% url 'website:instantfiat' %}">{% trans 'Edit CryptoPay settings' %}</a>
    {% endif %}
</div>
<table id="accounts" class="table table-striped table-bordered table-responsive">
    <tr>
        <th>{% trans 'Currency' %}</th>
        <th>{% trans 'Balance' %}</th>
        <th>{% trans 'Payment processor' %}</th>
        <th>{% trans 'Actions' %}</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td><a href="{% url 'website:account' pk=account.pk %}">{{ account.currency.name }}</a></td>
        <td>{{ account.balance|amount:account.currency.name }}</td>
        <td>
            {% if account.instantfiat %}
            {{ account.merchant.get_instantfiat_provider_display }}
            {% else %}
            -
            {% endif %}
        </td>
        <td><a href="{% url 'website:add_funds' pk=account.pk %}" target="_blank">Add funds</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
