{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/website.css' %}">
{% endblock %}

{% block content %}
<div class="content row">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% if user.role == 'merchant' and user.merchant.verification_status == 'unverified' and cabinet_page != 'verification' %}
                    <div class="alert alert-info">
                        Your account is not verified - <a href="{% url 'website:verification' %}">upload documents</a>
                    </div>
                {% endif %}
                {% if user.role == 'merchant' and not user.merchant.is_profile_complete %}
                    <div class="alert alert-info">
                        Your profile is not complete - <a href="{% url 'website:profile' %}">update profile</a>
                    </div>
                {% endif %}
                {% block cabinet_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
