{% extends "cabinet/base.html" %}
{% load bootstrap bootstrap3 staticfiles %}


{% block cabinet_nav %}
{% include 'cabinet/inclusions/nav.html' with DEVICES_ACTIVE='True' %}
{% endblock %}

{% block cabinet_content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="row">
                    <div class="col-sm-6 has-error">
                        {% for error in form.non_field_errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
          <div class="row">
              <div class="col-sm-6">
                  {% bootstrap_field form.name %}
              </div>
              <div class="col-sm-3">
                  {% bootstrap_field form.language %}
              </div>
              <div class="col-sm-3">
                  {% bootstrap_field form.currency %}
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
                  {% bootstrap_field form.comment %}
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
                  {% bootstrap_field form.payment_processing %}
              </div>
          </div>

          <div class="row">
              <div class="col-sm-6">
                  {% bootstrap_field form.payment_processor %}
              </div>
              <div class="col-sm-5 col-sm-offset-1">
                  {% bootstrap_field form.api_key %}
              </div>
          </div>

          <div class="row">
              <div class="col-sm-6">
                  {% bootstrap_field form.percent %}
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
                  {% bootstrap_field form.bitcoin_address %}
              </div>
          </div>

          <button type="submit" class="btn btn-default pull-right">{% if current_device %}Update{% else %}Create{% endif %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}