{% extends "cabinet/base.html" %}
{% load i18n %}

{% block cabinet_content %}
<div>
    <a class="btn btn-default" href="{% url 'website:create_device' %}?device_type=mobile">{% trans 'Add mobile app' %}</a>
    {% if user.merchant.can_activate_device %}
    <a class="btn btn-default" href="{% url 'website:activate_device' %}">{% trans 'Activate payment module' %}</a>
    {% endif %}
</div>
<table id="devices" class="table table-striped table-bordered table-responsive">
    <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Account' %}</th>
        <th>{% trans 'Actions' %}</th>
    </tr>
    {% for device in devices %}
    <tr>
        <td>
            {% if device.status == 'activation' %}
            <a href="{% url 'website:activation' device.key %}">{{ device.name }}</a>
            {% else %}
            <a href="{% url 'website:device' device.key %}">{{ device.name }}</a>
            {% endif %}
        </td>
        <td>
            {{ device.get_status_display }}
            {% if device.is_online %}<div class="device-online" title="device online">•</div>{% endif %}
        </td>
        <td>{{ device.account }}</td>
        <td>
            {% if device.status == 'active' or device.status == 'suspended' %}
            <div><a href="{% url 'website:reconciliation' device.key %}">{% trans 'reconciliation' %}</a></div>
            {% endif %}
            {% if device.status == 'active' %}
            <div><a href="{% url 'website:payment' device.key %}" target="_blank">{% trans 'online POS' %}</a></div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
