{% extends "cabinet/base.html" %}
{% load bootstrap3 staticfiles website_tags i18n %}

{% block js %}
{{ form.media }}
{% endblock %}

{% block cabinet_content %}

{% if device.status == 'suspended' %}
<div class="alert alert-danger">
    This device currently is not operational
</div>
{% endif %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>{% if device %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %} {{ form.device_type_verbose|lower }}:</h3>
        <form id="device-form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if device and device.device_type == 'mobile' %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label" for="device-key">{% trans 'Device key' %}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="device-key" value="{{ device.key }}" readonly>
                                <a class="input-group-addon" id="device-key-select">{% trans 'select' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                         {% qr_from_text device.key 4 %}
                    </div>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-default">
                {% if device %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}
            </button>
            <a href="{% url 'website:devices' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </form>
    </div>
</div>

{% endblock %}
