{% extends "cabinet/base.html" %}
{% load qr_tags website_tags %}

{% block cabinet_content %}
<h3>Order details</h3>
<div class="row">
    <div class="col-md-5" id="payment-bitcoin">
        {% qr_from_text bitcoin_uri 'm' %}
        <div>to pay &nbsp; ฿{{ order.instantfiat_btc_total_amount|scale|floatformat:5 }} mBTC</div>
        <a href="{{ bitcoin_uri }}">{{ order.instantfiat_address }}</a>
    </div>
    <div class="col-md-7">
        <table id="order-details">
            <tr>
                <td class="od-label">Quantity on order</td>
                <td>{{ order.quantity }}</td>
            </tr>
            <tr>
                <td class="od-label">Subtotal</td>
                <td>£{{ order.fiat_amount|floatformat:2 }} GBP / ฿{{ order.instantfiat_btc_amount|scale|floatformat:5 }} mBTC</td>
            </tr>
            <tr>
                <td class="od-label">VAT</td>
                <td>£{{ order.fiat_vat_amount|floatformat:2 }} GBP / ฿{{ order.instantfiat_btc_vat_amount|scale|floatformat:5 }} mBTC</td>
            </tr>
            <tr>
                <td class="od-label">Total</td>
                <td>£{{ order.fiat_total_amount|floatformat:2 }} GBP / ฿{{ order.instantfiat_btc_total_amount|scale|floatformat:5 }} mBTC</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
