{% extends "cabinet/base.html" %}
{% load bootstrap3 i18n %}

{% block cabinet_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="clearfix">
            <h3 class="pull-left">{% trans 'Merchant profile' %}</h3>
            {% if user.merchant.verification_status == 'verified' %}
            <h3 id="profile-verification-status" class="pull-right">
                <small><a href="{% url 'website:verification' %}">{{ user.merchant.get_verification_status_display }}</small></a>
            </h3>
            {% endif %}
        </div>
        <a class="change-password" href="{% url 'website:change_password' %}">Change password</a>
        <form id="profile-form" action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.contact_first_name %}</div>
                <div class="col-md-6">{% bootstrap_field form.contact_last_name %}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.contact_email %}</div>
                <div class="col-md-6">{% bootstrap_field form.contact_phone %}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.company_name %}</div>
                <div class="col-md-6">{% bootstrap_field form.trading_name %}</div>
            </div>
            {% bootstrap_field form.business_address %}
            {% bootstrap_field form.business_address1 %}
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.town %}</div>
                <div class="col-md-6">{% bootstrap_field form.post_code %}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.county %}</div>
                <div class="col-md-6">{% bootstrap_field form.country %}</div>
            </div>
            <div class="row">
                <div class="col-md-6"><button type="submit" class="btn btn-default pull-right">{% trans 'Update' %}</button></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
