{% extends "cabinet/base.html" %}
{% load bootstrap3 %}

{% block cabinet_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Merchant profile</h3>
        <form id="profile-form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_field form.contact_name %}
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.contact_email %}</div>
                <div class="col-md-6">{% bootstrap_field form.contact_phone %}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.company_name %}</div>
                <div class="col-md-6">{% bootstrap_field form.trading_name %}</div>
            </div>
            {% bootstrap_field form.business_address %}
            {% bootstrap_field form.business_address1 %}
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.town %}</div>
                <div class="col-md-6">{% bootstrap_field form.post_code %}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.county %}</div>
                <div class="col-md-6">{% bootstrap_field form.country %}</div>
            </div>
            <button type="submit" class="btn btn-default">Update</button>
        </form>
    </div>
</div>
{% endblock %}
