{% extends "cabinet/base.html" %}
{% load bootstrap3 staticfiles website_tags i18n %}

{% block js %}
{{ form.media }}
<script src="{% static 'js/reconciliation.js' %}"></script>
{% endblock %}

{% block cabinet_content %}

{% if device.status == 'suspended' %}
<div class="alert alert-danger">
    This device currently is not operational
</div>
{% endif %}

<h3>{{ device.name }}</h3>
<div class="form-title">{% trans 'send daily reconciliation to email every day at' %}</div>
<form action="{% url 'website:reconciliation_time' device.key 0 %}" method="POST" class="rectime-add">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-4">
            {% bootstrap_field form.email show_label='' %}
        </div>
        <div class="col-sm-4">
            {% bootstrap_field form.time show_label='' %}
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-default">{% trans 'Add' %}</button>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered table-responsive">
    <tr>
        <th>{% trans 'email' %}</th>
        <th colspan="2">{% trans 'time' %}</th>
    </tr>
    {% for rectime in device.rectime_set.all %}
    <tr>
        <td>{{ rectime.email }}</td>
        <td>{{ rectime.time }}</td>
        <td><a href="{% url 'website:reconciliation_time' device.key rectime.pk %}" class="rectime-remove">{% trans 'remove' %}</a></td>
    </tr>
    {% endfor %}
</table>

<div class="form-title">
    {% trans 'daily reconciliation history' %}
    <a href="{% url 'website:report' device.key %}" class="pull-right">{% trans 'download all transactions' %}</a>
    <a href="{% url 'website:receipts' device.key %}" style="clear:both;" class="pull-right">{% trans 'download all receipts' %}</a>
</div>

<table class="table table-striped table-bordered table-responsive">
    <tr>
        <td>{% trans 'date' %}</td>
        <td>{% trans 'total transactions' %}</td>
        <td>{% trans 'total amount' %}</td>
        <td>{% trans 'total converted' %}</td>
        <td></td>
    </tr>
    {% for info in daily_payments_info %}
    <tr>
        <td>{{ info.date|date:"d N Y" }}</td>
        <td>{{ info.count }}</td>
        <td>m฿ {{ info.btc_amount|scale|floatformat:2 }} / {{ info.fiat_currency }} {{ info.fiat_amount|floatformat:2 }}</td>
        <td>{{ info.instantfiat_fiat_amount }}</td>
        <td>
            {% with info.date as date %}
            <a href="{% url 'website:dated_report' device_key=device.key year=date|date:"Y" month=date|date:"m" day=date|date:"d" %}">{% trans 'download transactions' %}</a>
            <br>
            <a href="{% url 'website:dated_receipts' device_key=device.key year=date|date:"Y" month=date|date:"m" day=date|date:"d" %}">{% trans 'download receipts' %}</a>
            <br>
            <a href="" class="send-all-button" data-date="{{ date|date:'Y-m-d' }}">{% trans 'send all to email' %}</a>
            {% endwith %}
        </td>
    </tr>
    {% empty %}
    <tr><td>{% trans 'empty' %}</td></tr>
    {% endfor %}
</table>

<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'Send all to email' %}</h4>
            </div>
            <form action="{% url 'website:send_all_to_email' device.key %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {% bootstrap_form send_form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
