{% extends "cabinet/base.html" %}
{% load bootstrap3 staticfiles i18n website_tags %}

{% block js %}
<script src="{% static 'lib/jquery.ui.widget.js' %}"></script>
<script src="{% static 'lib/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'lib/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/verification.js' %}"></script>
{% endblock %}

{% block cabinet_content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>{% trans 'Account verification' %}</h3>
        {% if user.merchant.verification_status == 'unverified' %}
            {% blocktrans %}
            <p>Your merchant account must be verified to receive fiat payouts. To verify your merchant account, you must submit a government issued ID from the company principal, as well as a corporate document showing the registered identity of the business in the jurisdiction where the company operates. If you're a sole trader and not incorporated - then a proof of residence is needed instead of a corporate document.</p>
            <ol>
                <li>Identity Document (principal)
                    <ul>
                        <li>International passport</li>
                        <li>National ID card (both sides)</li>
                        <li>Driver's license</li>
                    </ul>
                </li>
                <li>Corporate or Address Document
                    <ul>
                        <li>corporate:
                            <ul>
                                <li>articles of incorporation</li>
                                <li>membership agreement</li>
                                <li>business tax return</li>
                            </ul>
                        </li>
                        <li>address:
                            <ul>
                                <li>bank statement</li>
                                <li>utility bill (except mobile phone bills)</li>
                                <li>council tax bill</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ol>
            <p>DOCUMENT GUIDELINES:</p>
            <p>Documents need to be visible in their entirety. Please do not crop just the address.<br>
                Scans should be of high quality. All text must be legible.<br>
                Identification documents must be current, expired IDs will not be accepted.<br>
                Corporate documents must be a scanned image of an original paper document.<br>
                Address document must be no more than three months old.</p>
            {% endblocktrans %}
            {% if form_identity_doc %}
            <form class="upload-form" action="{% url 'website:verification_file' merchant_pk=user.merchant.pk name=1 %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form_identity_doc %}
            </form>
            {% endif %}
            {% if form_corporate_doc %}
            <form class="upload-form" action="{% url 'website:verification_file' merchant_pk=user.merchant.pk name=2 %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form_corporate_doc %}
            </form>
            {% endif %}
            <form id="verification-form" action="{% url 'website:verification' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6"><button type="submit" class="btn btn-default pull-right">{% trans 'Submit' %}</button></div>
                    <div class="col-md-6">
                        <a href="{% url 'website:profile' %}" class="btn pull-left">{% trans 'Cancel' %}</a>
                        <img id="loading-image" src="{% static 'img/loading.gif' %}">
                    </div>
                </div>
            </form>
        {% else %}
            {% if user.merchant.verification_status == 'pending' %}
            <p class="large">{% trans 'Verification pending' %}</p>
            <p>
                {% blocktrans %}
                You have successfully uploaded your documents for verification, now it will be processed by our team. You will receive an email notification once your account will be confirmed. We will contact you should we have any questions about the documents uploaded or other related matters. Uploaded documents are:
                {% endblocktrans %}
            </p>
            {% elif user.merchant.verification_status == 'verified' %}
            <p class="large">{% trans 'Verified' %}</p>
            <p>
                {% blocktrans %}
                Your account has been verified, you can now execute withdrawals to your bank accounts.<br>
                You have previously uploaded these documents:
                {% endblocktrans %}
            </p>
            {% endif %}
            {% with user.merchant|kyc_document:"1" as identity_document and user.merchant|kyc_document:"2" as corporate_document %}
            <div>
                <a href="{% url 'website:verification_file' merchant_pk=user.merchant.pk name=identity_document.base_name %}">{{ identity_document.original_name }}</a><br>
                <a href="{% url 'website:verification_file' merchant_pk=user.merchant.pk name=corporate_document.base_name %}">{{ corporate_document.original_name }}</a>
            </div>
            {% endwith %}
        {% endif %}
    </div>
</div>
{% endblock %}
