.header-line {
    border-top: 4px solid #428bca;
    width: 100%;
    padding-bottom: 0px;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f3f3f3;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer-container {
  /*width: auto;*/
  /*max-width: 680px;*/
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}