{% extends 'pdf/receipt_base.html' %}
{% load i18n website_tags %}

{% block content %}
<div class="title">
    {% trans 'Customer Receipt' %} - #{{ deposit.id }}
</div>
<table>
    <tr>
        <td style="width: 400px;" class="col1">{% trans 'Amount' %}</td>
        <td class="col2">{{ deposit.merchant.currency.prefix }}{{ deposit.amount|floatformat:2 }}{{ deposit.merchant.currency.postfix }}</td>
    </tr>
    <tr>
        <td class="col1">
            {% trans 'Bitcoin amount paid' %}
        </td>
        <td class="col2 btc-amount">m<span class="btc-symbol">&#xf15a;</span> {{ deposit.coin_amount|scale|floatformat:5 }}</td>
    </tr>
    <tr>
        <td class="col1">{% trans 'Effective exchange rate' %}</td>
        <td class="col2">{{ deposit.merchant.currency.prefix }}{{ deposit.effective_exchange_rate|unscale|floatformat:4 }}{{ deposit.merchant.currency.postfix }}</td>
    </tr>
    <tr></tr>
    <tr>
        <td class="col1">{% trans 'Destination address' %}</td>
        <td class="col2">
            <a class="external-link" href="{% btc_address_url deposit.deposit_address.address deposit.bitcoin_network %}">
                {{ deposit.deposit_address.address }}
            </a>
        </td>
    </tr>
    <tr>
        <td class="col1">{% trans 'Bitcoin transaction ID' %}</td>
        <td class="col2">
            {% for incoming_tx_id in deposit.incoming_tx_ids %}
            <a class="external-link" href="{% btc_tx_url incoming_tx_id deposit.bitcoin_network %}">
                {{ incoming_tx_id }}
            </a>
            {% endfor %}
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td class="col1">{% trans 'Merchant name' %}</td>
        <td class="col2">{{ deposit.merchant.company_name }}</td>
    </tr>
    <tr>
        <td class="col1">{% trans 'Merchant address' %}</td>
        <td class="col2">{{ deposit.merchant.billing_address|join:', ' }}</td>
    </tr>
    <tr>
        <td class="col1">{% trans 'Receipt number' %}</td>
        <td class="col2">{{ deposit.id }}</td>
    </tr>
    <tr>
        <td class="col1">{% trans 'Transaction time' %}</td>
        <td class="col2">
            {% language 'en' %}
            {{ deposit.time_notified|date:'d M Y, h:i A' }}
            {% endlanguage %}
        </td>
    </tr>
</table>
<div id="qrcode-text">
    <div><a href="{{ deposit.receipt_url }}">{{ deposit.receipt_url }}</a></div>
    <div>{% trans 'View this receipt online by visiting the link above, or by scanning the QR code adjacent.' %}</div>
</div>
<div id="qrcode">
    {% qr_from_text deposit.receipt_url 4 %}
</div>
{% endblock %}
