{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/terminal.css' %}">
        <script src="{% static 'lib/jquery.min.js' %}"></script>
        <script src="{% static 'lib/jquery-qrcode.min.js' %}"></script>
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static 'js/terminal.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo"><img src="{% static 'img/xbt_logo_small.png' %}"></div>
                <div></div>
                <div class="merchant-info">
                    <span>{{ account.merchant.company_name }}</span><br>
                    <span>{{ account }}</span>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
  </body>
</html>
