{% extends "payment/base.html" %}
{% load i18n %}

{% block title %}Web POS{% endblock %}

{% block content %}
<div class="content">
    <form class="enter-amount" action="{% url 'api:payment_init' %}" method="POST" data-device-key="{{ device.key }}">
        <label class="amount-label">{% trans 'amount' %}</label>
        <div class="amount-wrapper">
            <div class="fiat-symbol">{{ device.merchant.currency.prefix }}</div>
            <input type="text" name="amount" value="0.00">
        </div>
        <div class="error-message"></div>
        <button type="submit">{% trans 'Pay now' %}</button>
    </form>
    <div class="payment-init">
        <div class="payment-message-1">
            <div class="fiat-amount-wrapper">{{ device.merchant.currency.prefix }} <span class="fiat-amount"></span></div>
            <div class="mbtc-amount-wrapper">m฿ <span class="mbtc-amount"></span></div>
        </div>
        <div class="payment-message-2">{% trans 'exchange rate' %}: <span class="exchange-rate"></span></div>
        <img class="payment-request">
    </div>
    <div class="payment-success">
        <div class="payment-message-1">{% trans 'payment successful' %}</div>
        <div class="payment-message-2">{% trans 'SCAN QR CODE FOR RECEIPT' %}</div>
        <a><img class="payment-receipt"></a>
    </div>
    <button class="payment-reset">{% trans 'Reset' %}</button>
</div>
{% endblock %}
