{% extends "payment/base.html" %}

{% block content %}
<div class="content">
    <div class="amounts">
        <div class="amount-fiat">£ {{ fiat_amount|floatformat:2 }}</div>
        <div class="amount-mbtc">m฿ {{ mbtc_amount|floatformat:2 }}</div>
        <div class="exhcange-rate">exchange rate: {{ exchange_rate|floatformat:3 }}</div>
    </div>
    <img
        class="payment-request"
        src="{{ qr_code_src }}"
        alt="{{ payment_uri }}"
        data-check-url="{% url 'website:payment_check' request_uid %}"
        data-success-url="{% url 'website:payment_success' device.key %}?request_uid={{ request_uid }}"
    >
    <form class="payment-cancel" action="{% url 'website:enter_amount' device.key %}" method="GET">
        <button type="submit">Cancel</button>
    </form>
</div>
{% endblock %}
