#server {
#    listen 80;
#    server_name xbterminal.com;
#    rewrite ^(.*)$ https://$server_name$1 permanent;
#}

server {
    listen 80;
    # listen 443 ssl;
    server_name xbterminal.com;
    
    # ssl_certificate /repo_root/cert/xbterminal.pem;
    # ssl_certificate_key /repo_root/cert/xbterminal.key;

    # https://coderwall.com/p/ebl2qa
    # server_tokens off;
    # ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
    # ssl_prefer_server_ciphers on;
    # ssl_session_timeout 5m;
    # ssl_ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-RC4-SHA:ECDHE-RSA-RC4-SHA:ECDH-ECDSA-RC4-SHA:ECDH-RSA-RC4-SHA:ECDHE-RSA-AES256-SHA:RC4-SHA;
    
    access_log /var/log/nginx/xbterminal.com_access.log;
    error_log /var/log/nginx/xbterminal.com_error.log;

    location / {
        uwsgi_pass unix:///tmp/xbterminal.com.sock;
        include uwsgi_params;

        # http://stackoverflow.com/questions/11943491/accessing-django-admin-over-https-behind-nginx
        # https://docs.djangoproject.com/en/1.6/ref/settings/#secure-proxy-ssl-header
        # uwsgi_param HTTP_X_FORWARDED_PROTO https;
        # uwsgi_param UWSGI_SCHEME $scheme;
    }

    location /static {
        alias   /repo_root/static;
    }
}
