[program:rqworker-high]
directory=/repo_root/
command=/repo_root/venv/bin/python /repo_root/xbterminal/manage.py rqworker high
user=xbterminal
group=xbterminal

[program:rqworker-low]
directory=/repo_root/
command=/repo_root/venv/bin/python /repo_root/xbterminal/manage.py rqworker low
user=xbterminal
group=xbterminal

[program:rqscheduler]
directory=/repo_root/
command=/repo_root/venv/bin/python /repo_root/xbterminal/manage.py rqscheduler --queue high --interval=1
user=xbterminal
group=xbterminal

[group:xbterminal]
programs=rqscheduler,rqworker-high,rqworker-low
