{% load i18n staticfiles %}
<div style="width: 484px;">
    <div style="margin-top: 15px; padding-left: 25px; padding-top: 15px; border-top: 7px solid #71B4E1;">
        {% block content %}{% endblock %}
    </div>
    <div style="margin-top: 50px; padding-left: 25px;">
        - - - - - - - - - - - - - - - - - - - - - - -
        <br>
        {% blocktrans %}Warm regards,<br>XBTerminal Team{% endblocktrans %}
        <br>
        <a href="mailto:support@xbterminal.io">support@xbterminal.io</a>
    </div>
    <div style="margin-top: 15px;">
        <img src="http://stage.xbterminal.com/static/img/xbt_email_footer.png">
    </div>
</div>
