{% extends "email/base.html" %}

{% block content %}
Email: {{ merchant.contact_email }}<br>
Joined: {{ merchant.user.date_joined }}<br>
Company name: {{ merchant.company_name }}<br>
Trading name: {{ merchant.trading_name }}<br>
Address: {{ merchant.billing_address|join:', ' }}<br>
Contact name: {{ merchant.contact_first_name }} {{ merchant.contact_last_name }}<br>
Contact phone: {{ merchant.contact_phone }}<br>
{% if order %}
Quantity: {{ order.quantity }}<br>
Payment method: {{ order.payment_method }}<br>
Payment reference: {{ order.payment_reference }}<br>
{% endif %}
{% endblock %}
