{% extends 'cabinet/base.html' %}
{% load i18n %}

{% block cabinet_content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped">
      <tr>
        <th scope="row">Company name</th>
        <td>{{ merchant.company_name }}</td>
      </tr>
      <tr>
        <th scope="row">Country</th>
        <td>{{ merchant.country.name }}</td>
      </tr>
      <tr>
        <th scope="row">Contact email</th>
        <td>{{ merchant.contact_email }}</td>
      </tr>
      <tr>
        <th scope="row">Contact name</th>
        <td>{{ merchant.contact_name }}</td>
      </tr>
      <tr>
        <th scope="row">Contact phone</th>
        <td>{{ merchant.contact_phone }}</td>
      </tr>
      <tr>
        <th scope="row">Language</th>
        <td>{{ merchant.language.name }}</td>
      </tr>
      <tr>
        <th scope="row">Currency</th>
        <td>{{ merchant.currency.name }}</td>
      </tr>
      <tr>
        <th scope="row">KYC status</th>
        <td>{{ merchant.get_verification_status_display }}</td>
      </tr>
    </table>
    <div class="text-center">
      <a href="{% url 'website:merchant_list' %}" class="btn btn-default">{% trans 'Back' %}</a>
    </div>
  </div>
</div>

{% endblock %}
